.service-container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.partners{
    background-color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.partner-images{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.partImage{
    width: 150px;
}

/* {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{ Service Cards }}}}}}}}}}}}}}}}}}}}}}}}}}}}}} */

.service-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.service-list>p{
    color: var(--yellow);
}
.all-service-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-individual{
    aspect-ratio: 3/2;
    height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-individual>img{
    width: 50px;
}
.card-individual>p{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.card-individual>span{
    font-weight: bold;
    color: rgb(0, 0, 201);
    cursor: pointer;
    font-size: 17px;
}

@media (max-width:750px) {
    .partner-images{
        flex-direction: column;
        gap: 30px;
    }
    .partImage{
        width: 200px;
    }  
    .fa-search{
        font-size: 20px;
    }  
}