:root {
  --blue: #1C4670;
  --yellow: #FFA229;
}

* {
  font-family: system-ui;
}

::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 63, 97);
  border-radius: 50px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}
button:active{
  background-color: black;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 108px;
}